<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <connectionStrings>
    <add name="MastsConnectionString" connectionString="Server=SERVERNAME\\mssqllocaldb;Database=DATABASE;User Id=USER;Password=PASSWORD;MultipleActiveResultSets=true"/>
  </connectionStrings>
  <appSettings>
    <add key="AppRoleUser" value="USERNAME"/>
    <add key="AppRolePassword" value="PASSWORD"/>
  </appSettings> 
</configuration>